In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data_files/clean_data_with_orgs.csv', lineterminator='\n',index_col=0)
#data.sample(50)

In [3]:
# fetch data
data = data[data['Organizations'].apply(lambda x: 'GME' in x)]

In [4]:
reddit_groups = data.groupby(['subreddit'])

In [ ]:
#investing_gme = reddit_groups['created'].value_counts().loc['stocks']
#mentions['investing'] = investing_gme
#mentions.sort_index(axis=0)

In [5]:
# return subreddit mentions for ticker
subreddits = ['wallstreetbets', 'stocks', 'investing', 'StockMarket','pennystocks','algotrading', 'RobinHood']
def mention_counts(ticker):
    mentions = pd.DataFrame()
    for subreddit in subreddits:
        tickers = data[data['Organizations'].apply(lambda x: ticker in x)]
        count = reddit_groups['created'].value_counts().loc[subreddit]
        mentions[''+subreddit+''] = count
    return mentions

## GME

In [6]:
# PFetch mentions and prices
gme_prices = pd.read_csv('../Yahoo finance Scripts/data/GME.csv',index_col=0)
gme_prices.reset_index(level=0, inplace=True) 
gme_prices.rename(columns = {'index':'created'}, inplace = True)
gme_prices['created']= pd.to_datetime(gme_prices['created'])
gme_mentions = mention_counts('GME')
gme_mentions.reset_index(level=0, inplace=True)
gme_mentions['created']= pd.to_datetime(gme_mentions['created'])
gme_prices

      created  Adj Close
0  2020-05-10        NaN
1  2020-05-11       4.76
2  2020-05-12       4.54
3  2020-05-13       4.21
4  2020-05-14       4.13
5  2020-05-15       4.22
6  2020-05-16       4.22
7  2020-05-17       4.22
8  2020-05-18       4.58
9  2020-05-19       4.44
10 2020-05-20       4.43
11 2020-05-21       4.44
12 2020-05-22       4.18
13 2020-05-23       4.18
14 2020-05-24       4.18
15 2020-05-25       4.18
16 2020-05-26       4.42
17 2020-05-27       4.69
18 2020-05-28       4.33
19 2020-05-29       4.06
20 2020-05-30       4.06

In [7]:
# join mentions and prices

In [49]:
# clean up
GME = gme_mentions.drop(['RobinHood', 'algotrading','pennystocks'],axis=1)
GME.sort_values('created')
GME.drop(11, axis=0,inplace=True)
GME.drop(12, axis=0,inplace=True)
GME.drop(13, axis=0,inplace=True)
GME.drop(14, axis=0,inplace=True)
GME

      created  wallstreetbets  stocks  investing  StockMarket
0  2021-05-27            2861    36.0       14.0         65.0
1  2021-05-28            2551    70.0       19.0         67.0
2  2021-05-26            2484    89.0        8.0         16.0
3  2021-05-25            2441   110.0        9.0         11.0
4  2021-05-18            1700    12.0       19.0         24.0
5  2021-05-19             820    60.0       16.0         31.0
6  2021-05-24             801    45.0        5.0         85.0
7  2021-05-21             616    14.0        7.0         15.0
8  2021-05-23             510    27.0        7.0         42.0
9  2021-05-20             451    55.0        3.0         12.0
10 2021-05-22             427    16.0        1.0          4.0

## RBLX

In [116]:
# Fetch mentions and prices
RBLX_prices = pd.read_csv('../Yahoo finance Scripts/data/RBLX.csv',index_col=0)
RBLX_prices.reset_index(level=0, inplace=True) 
RBLX_prices.rename(columns = {'index':'date'}, inplace = True)
RBLX_prices = RBLX_prices.iloc[8:19]
RBLX_prices['date']= pd.to_datetime(RBLX_prices['date'])
RBLX_prices

         date  Adj Close
8  2021-05-18  74.989998
9  2021-05-19  75.220001
10 2021-05-20  76.330002
11 2021-05-21  82.500000
12 2021-05-22  82.500000
13 2021-05-23  82.500000
14 2021-05-24  89.230003
15 2021-05-25  89.320000
16 2021-05-26  89.709999
17 2021-05-27  97.470001
18 2021-05-28  93.769997

In [117]:
RBLX_mentions = df_mention_counts('RBLX')
RBLX_mentions.reset_index(level=0, inplace=True)
RBLX_mentions['created']= pd.to_datetime(RBLX_mentions['created'])

In [122]:
# clean up
RBLX = gme_mentions.drop(['RobinHood', 'algotrading','pennystocks'],axis=1)
RBLX.drop(13, axis=0,inplace=True)
RBLX.drop(14, axis=0,inplace=True)
RBLX.drop(11, axis=0,inplace=True)
RBLX.drop(12, axis=0,inplace=True)
RBLX['created']= pd.to_datetime(RBLX['created'])
RBLX['all_combined'] = RBLX['stocks'] + RBLX['investing'] + RBLX['StockMarket'] + RBLX['wallstreetbets']
RBLX['all_minus_wsb'] = RBLX['stocks'] + RBLX['investing'] + RBLX['StockMarket']
RBLX_prices.rename(columns = {'Adj Close':'price'}, inplace = True)
RBLX = RBLX.merge(RBLX_prices, how='inner', left_on='created', right_on='date')
RBLX = RBLX.drop(RBLX.columns[7], axis=1)
RBLX.sort_values('created')

,created,wallstreetbets,stocks,investing,StockMarket,all_combined,all_minus_wsb,price
4,2021-05-18,1700,12.0,19.0,24.0,1755.0,55.0,74.989998
5,2021-05-19,820,60.0,16.0,31.0,927.0,107.0,75.220001
9,2021-05-20,451,55.0,3.0,12.0,521.0,70.0,76.330002
7,2021-05-21,616,14.0,7.0,15.0,652.0,36.0,82.500000
10,2021-05-22,427,16.0,1.0,4.0,448.0,21.0,82.500000
8,2021-05-23,510,27.0,7.0,42.0,586.0,76.0,82.500000
6,2021-05-24,801,45.0,5.0,85.0,936.0,135.0,89.230003
3,2021-05-25,2441,110.0,9.0,11.0,2571.0,130.0,89.320000
2,2021-05-26,2484,89.0,8.0,16.0,2597.0,113.0,89.709999
0,2021-05-27,2861,36.0,14.0,65.0,2976.0,115.0,97.470001
1,2021-05-28,2551,70.0,19.0,67.0,2707.0,156.0,93.769997

In [121]:
RBLX.corr()

,wallstreetbets,stocks,investing,StockMarket,all_combined,all_minus_wsb,price
wallstreetbets,1.000000,0.538843,0.577351,0.244974,0.999453,0.634312,0.703397
stocks,0.538843,1.000000,0.086811,-0.040540,0.554930,0.724777,0.365344
investing,0.577351,0.086811,1.000000,0.336469,0.579298,0.419121,0.090322
StockMarket,0.244974,-0.040540,0.336469,1.000000,0.265812,0.645713,0.544298
all_combined,0.999453,0.554930,0.579298,0.265812,1.000000,0.659528,0.710614
all_minus_wsb,0.634312,0.724777,0.419121,0.645713,0.659528,1.000000,0.623878
price,0.703397,0.365344,0.090322,0.544298,0.710614,0.623878,1.000000

In [123]:
#RBLX.to_csv('./data_for_tableau/rblx.csv')

In [ ]:
# clean up
#GME.drop(['RobinHood', 'algotrading','pennystocks'],axis=1)
#GME